<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <!--<link rel="stylesheet" href="~/css/site.css" />-->
    <link rel="stylesheet" href="../../css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body onload="setupPage()">

    <div id="navbarWrapper">
        <div id="navbar">
            <!-- left side -->

            <div id="navDropdownMenuBtn" onclick="navDropdownMenuClick()">
                <div class="navDropdownMenuBtnLine"></div>
                <div class="navDropdownMenuBtnLine close"></div>
            </div>

            <div id="navTitle"><a href="">Dashboard</a></div>

            <!-- end left side -->
            <!-- right side -->

            <div id="navbarRightWrapper">
                <div id="navbarPages">
                    <span id="navPage1" class="navbarPageSpan"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span>
                    <!--
                    -->
                    <!--<span id="navPage2" class="navbarPageSpan"><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
                    -->
                    <span id="navPage3" class="navbarPageSpan"><a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a></span>
                    <!--
                    -->
                    <span id="navPage4" class="navbarPageSpan"><a asp-area="" asp-controller="Orders" asp-action="Index">Orders</a></span>
                    <!--
                    -->
                    <span id="navPage5" class="navbarPageSpan"><a asp-area="" asp-controller="Products" asp-action="Index">Products</a></span>
                    <!--
                    -->
                    <span id="navPage6" class="navbarPageSpan"><a asp-area="" asp-controller="Ratings" asp-action="Index">Ratings</a></span>
                    <!--
                    -->
                    <span id="navPage7" class="navbarPageSpan"><a>Logout</a></span>
                </div>
            </div>

        </div>

        <ul class="navDropdownPagesList close">
            <!-- pages added to dropdown list in javascript -->
        </ul>
    </div>


    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AdminInterface</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Ratings" asp-action="Index">Ratings</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>-->

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - AdminInterface - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
