@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<!-- grid layout -->
<div class="dashboardSection">
    <div class="dashboardBlock dashboardLeftBlock">
        <span class="dashboardSectionHeader">Monthly Sales</span>

        <!--<div id="ordersTargetWidget">

        <div class="ordersWidgetSection">
            <span id="ordersTargetSettingHeader">Last 30 days</span>

            <div class="chartWrapper">
                <div class="progressContainer">
                    <svg class="progressBar" viewBox="0 0 64 64">
                        <circle class="progressBarTrack" cx="50%" cy="50%" r="30px"></circle>
                        <circle class="progressBarThumb" cx="50%" cy="50%" r="30px"></circle>
                    </svg>
                    <span class="progressValue">982</span>
                </div>
            </div>

            <div class="chartSettingsWrapper">
                <div class="widgetBtn chartSettingsBtn">settings</div>
            </div>

        </div>

        <div class="ordersWidgetSection">
            <div id="targetsWrapper">
                <div id="targetsHeader">Targets</div>
                <div class="orderTarget selectedTarget" data-value="1500">30 days: 1500</div>
                <div class="orderTarget" data-value="3200">60 days: 3200</div>
                <div class="widgetBtn">view more</div>
            </div>
        </div>-->

        <canvas id="lineChart"></canvas>

    </div>
    <div class="dashboardBlock dashboardRightBlock">
        <span class="dashboardSectionHeader">Order Status</span>
        <table id="orderStatusTable" class="table">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <a asp-controller="Orders" asp-action="Details" asp-route-id="6">
                    <tr>
                         <td>#6</td>
                         <td>£482.96</td>
                         <td>Processing</td>
                    </tr>
                </a>
                <a asp-controller="Orders" asp-action="Details" asp-route-id="12">
                    <tr>
                        <td>#12</td>
                        <td>£440.00</td>
                        <td>Dispatched</td>
                    </tr>
                </a>
                <a asp-controller="Orders" asp-action="Details" asp-route-id="18">
                    <tr>
                        <td>#18</td>
                        <td>£229.00</td>
                        <td>Dispatched</td>
                    </tr>
                </a>
            </tbody>
        </table>
    </div>
</div>

<div class="dashboardSection">
    <div class="dashboardBlock dashboardLeftBlock">
        <span class="dashboardSectionHeader">Most Popular</span>
        <div id="productsWrapper">

            <a asp-controller="Products" asp-action="Details" asp-route-id="1">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://images-na.ssl-images-amazon.com/images/I/81gIeZ6rr0L._AC_SL1500_.jpg">
                        <div class="productName">LG 55UN71006LB 55 Inch UHD 4K HDR Smart LED TV</div>
                        <div class="productSold">Total Sold: 6</div>
                    </div>
                </div>
            </a>

            <a asp-controller="Products" asp-action="Details" asp-route-id="5">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://images-na.ssl-images-amazon.com/images/I/61wHra8XvtL._AC_SL1200_.jpg">
                        <div class="productName">Sony BRAVIA KD49X70 - 49-inch - LED - 4K Ultra HD</div>
                        <div class="productSold">Total Sold: 5</div>
                    </div>
                </div>
            </a>

            <a asp-controller="Products" asp-action="Details" asp-route-id="12">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://images-na.ssl-images-amazon.com/images/I/81GmE72mEaL._AC_SL1500_.jpg">
                        <div class="productName">Acer Chromebook 314 CB314-H - (Intel Celeron N4000</div>
                        <div class="productSold">Total Sold: 2</div>
                    </div>
                </div>
            </a>

        </div>
    </div>

    <div class="dashboardBlock dashboardRightBlock">
        <span class="dashboardSectionHeader">Low in Stock</span>
        <div id="productsWrapper">

            <a asp-controller="Products" asp-action="Details" asp-route-id="43">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://m.media-amazon.com/images/I/61mpMH5TzkL._AC_UY218_.jpg">
                        <div class="productName">Logitech G502 LIGHTSPEED Wireless Gaming Mouse</div>
                        <div class="productSold">Stock: 92</div>
                    </div>
                </div>
            </a>

            <a asp-controller="Products" asp-action="Details" asp-route-id="4">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://images-na.ssl-images-amazon.com/images/I/81R1Dp8SMuL._AC_SL1500_.jpg">
                        <div class="productName">Panasonic TX-24J330B HD Ready TV</div>
                        <div class="productSold">Stock: 98</div>
                    </div>
                </div>
            </a>

            <a asp-controller="Products" asp-action="Details" asp-route-id="25">
                <div class="product">
                    <div class="productContainer">
                        <img class="productImage" src="https://images-na.ssl-images-amazon.com/images/I/415tZH2vjXL._AC_.jpg">
                        <div class="productName">Sony PlayStation 4 500GB Console - Black </div>
                        <div class="productSold">Stock: 98</div>
                    </div>
                </div>
            </a>

        </div>
    </div>


</div>

<script>let activePageIndex = 0;

    const chart = document.getElementById("lineChart");
    let lineChart = new Chart(chart, {
        // The type of chart we want to create
        type: 'line',
        data: {
            labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
            datasets: [{
                label: 'Sales',
                fill: false,
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45]
            }]
        },
        // Configuration options go here
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });</script>